In [36]:
import nltk as nt
import numpy as py
import pandas as pd
from nltk.corpus import stopwords

In [37]:
stop_words=stopwords.words("english")

In [38]:
dataset=pd.read_csv("Arabic Sentiment Analysis Dataset - SS2030.csv")

In [39]:
dataset.describe()

         Sentiment
count  4252.000000
mean      0.572907
std       0.494714
min       0.000000
25%       0.000000
50%       1.000000
75%       1.000000
max       1.000000

In [40]:
dataset.head()

                                                text  Sentiment
0            حقوق المرأة 💚💚💚 https://t.co/Mzf90Ta5g1          1
1  RT @___IHAVENOIDEA: حقوق المرأة في الإسلام. ht...          1
2  RT @saud_talep: Retweeted لجنة التنمية بشبرا (...          1
3  RT @MojKsa: حقوق المرأة التي تضمنها لها وزارة ...          1
4  RT @abm112211: ولي امر الزوجة او ولي الزوجة او...          1

In [41]:
dataset["Sentiment"].unique()

array([1, 0], dtype=int64)

In [42]:
from keras.preprocessing.text import Tokenizer

In [43]:
tokenizer=Tokenizer()

In [44]:
tokenizer.fit_on_texts(dataset["text"].values)

In [45]:
print(tokenizer.document_count)

4252

In [46]:
import re
import string
def remove_emojii(text):
    emojii_pattern=re.compile(
    "["
        u"\U0001F600-\U0001F64F"
        u"\U0001F300-\U0001F5FF"
        u"\U0001F680-\U0001F6FF"
        u"\U0001F1E0-\U0001F1FF"
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        "]+",
        flags=re.UNICODE
    )
    return emojii_pattern.sub(r"",text)
def remove_url(text):
    url=re.compile(r"https?://\S+|www\.\S+")
    return url.sub(r"",text)
def tokenize(text):
    return text.split(" ")
def remove_punc(text):
    table=str.maketrans("","",string.punctuation)
    return text.translate(table)
def remove_stop_words(tokens):
    return [word for word in tokens if word not in stop_words]
def preprocess_text(text):
    text=remove_emojii(text)
    text=remove_url(text)
    text=remove_punc(text)
    tokens=tokenize(text)
    tokens=remove_stop_words(tokens)
    return tokens
dataset["tokens"]=dataset["text"].map(preprocess_text)

In [47]:
dataset.head()

,text,Sentiment,tokens
0,حقوق المرأة 💚💚💚 https://t.co/Mzf90Ta5g1,1,"[حقوق, المرأة, , ]"
1,RT @___IHAVENOIDEA: حقوق المرأة في الإسلام. ht...,1,"[RT, IHAVENOIDEA, حقوق, المرأة, في, الإسلام, ]"
2,RT @saud_talep: Retweeted لجنة التنمية بشبرا (...,1,"[RT, saudtalep, Retweeted, لجنة, التنمية, بشبر..."
3,RT @MojKsa: حقوق المرأة التي تضمنها لها وزارة ...,1,"[RT, MojKsa, حقوق, المرأة, التي, تضمنها, لها, ..."
4,RT @abm112211: ولي امر الزوجة او ولي الزوجة او...,1,"[RT, abm112211, ولي, امر, الزوجة, او, ولي, الز..."

In [48]:
def get_max_tokens(data):
    max_length=len(data[0])
    for item in data:
        if len(item)>max_length:
            max_length=len(item)
    return max_length
max_length=get_max_tokens(dataset["tokens"].values)

In [49]:
max_length

61

In [50]:
def clean_null(tokens):
    return [word for word in tokens if not word==""]
dataset["tokens"]=dataset["tokens"].map(clean_null)

In [51]:
dataset.head()

,text,Sentiment,tokens
0,حقوق المرأة 💚💚💚 https://t.co/Mzf90Ta5g1,1,"[حقوق, المرأة]"
1,RT @___IHAVENOIDEA: حقوق المرأة في الإسلام. ht...,1,"[RT, IHAVENOIDEA, حقوق, المرأة, في, الإسلام]"
2,RT @saud_talep: Retweeted لجنة التنمية بشبرا (...,1,"[RT, saudtalep, Retweeted, لجنة, التنمية, بشبر..."
3,RT @MojKsa: حقوق المرأة التي تضمنها لها وزارة ...,1,"[RT, MojKsa, حقوق, المرأة, التي, تضمنها, لها, ..."
4,RT @abm112211: ولي امر الزوجة او ولي الزوجة او...,1,"[RT, abm112211, ولي, امر, الزوجة, او, ولي, الز..."

In [52]:
max_length=get_max_tokens(dataset["tokens"].values)

In [53]:
max_length

61

In [54]:
from sklearn.utils import shuffle
dataset=shuffle(dataset,random_state=0)

In [55]:
x_data=dataset["tokens"].values
y_data=dataset["Sentiment"].values

In [56]:
x_data.shape

(4252,)

In [57]:
from sklearn.utils import shuffle

In [58]:
word_index=tokenizer.word_index

In [59]:
x_data_encoded=tokenizer.texts_to_sequences(x_data)

In [60]:
x_data_encoded[5]

[11,
 20452,
 155,
 448,
 12,
 126,
 3641,
 6,
 1295,
 100,
 2711,
 83,
 3641,
 6,
 502,
 8725,
 42,
 5134,
 8726,
 8727,
 5067,
 5135,
 2,
 941,
 8728,
 135,
 3642,
 1566,
 29,
 8729,
 33,
 3642,
 730,
 8730,
 8731,
 8732,
 1085,
 536,
 8733,
 1,
 8734,
 938,
 8735,
 8736]

In [61]:
from keras.preprocessing.sequence import pad_sequences

In [62]:
train_padded=pad_sequences(x_data_encoded,maxlen=max_length,padding="post",truncating="post")

In [63]:
train_padded[0]

array([    8,   656,  4366,  9206,  1335,  9207,  6209,     2,    47,
         327,     6, 23939,  3280,    23,  8956, 23940,  4537,  7242,
       23941,  6913,     6, 23942, 23943,     2,   456,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0])

In [64]:
len(train_padded[5])

61

In [65]:
from keras.models import Sequential
from keras.layers import Embedding,LSTM,Dense,Dropout
from keras.initializers import Constant
#from keras.optimizers import Adam
model=Sequential()
model.add(Embedding(len(tokenizer.word_index),32,input_length=max_length))
model.add(LSTM(64))
model.add(Dense(1,activation="sigmoid"))
#adam=Adam(learning_rate=3e-4)
model.compile(loss="binary_crossentropy",optimizer="adam",metrics=["accuracy"])

In [66]:
from sklearn.model_selection import train_test_split

In [71]:
x_train,x_test,y_train,y_test=train_test_split(train_padded,y_data,test_size=0.3,random_state=2)

In [72]:
model.fit(x_train,y_train,epochs=15)

Epoch 1/15
93/93 [==============================] - 5s 38ms/step - loss: 0.2690 - accuracy: 0.9096
Epoch 2/15
93/93 [==============================] - 3s 35ms/step - loss: 0.1660 - accuracy: 0.9486
Epoch 3/15
93/93 [==============================] - 3s 35ms/step - loss: 0.0941 - accuracy: 0.9718
Epoch 4/15
93/93 [==============================] - 3s 35ms/step - loss: 0.0523 - accuracy: 0.9845
Epoch 5/15
93/93 [==============================] - 3s 35ms/step - loss: 0.0358 - accuracy: 0.9903
Epoch 6/15
93/93 [==============================] - 3s 37ms/step - loss: 0.0261 - accuracy: 0.9926
Epoch 7/15
93/93 [==============================] - 3s 35ms/step - loss: 0.0181 - accuracy: 0.9950
Epoch 8/15
93/93 [==============================] - 3s 35ms/step - loss: 0.0209 - accuracy: 0.9929
Epoch 9/15
93/93 [==============================] - 3s 35ms/step - loss: 0.0138 - accuracy: 0.9960
Epoch 10/15
93/93 [==============================] - 3s 35ms/step - loss: 0.0137 - accuracy: 0.9963
Epoch 11/15
93/93 [==============================] - 3s 37ms/step - loss: 0.0092 - accuracy: 0.9970
Epoch 12/15
93/93 [==============================] - 3s 35ms/step - loss: 0.0097 - accuracy: 0.9966
Epoch 13/15
93/93 [==============================] - 4s 38ms/step - loss: 0.0091 - accuracy: 0.9970
Epoch 14/15
93/93 [==============================] - 3s 36ms/step - loss: 0.0093 - accuracy: 0.9973
Epoch 15/15
93/93 [==============================] - 3s 37ms/step - loss: 0.0134 - accuracy: 0.9950

In [73]:
loss,acc = model.evaluate(x_test, y_test)

40/40 [==============================] - 0s 11ms/step - loss: 0.3082 - accuracy: 0.9310

In [74]:
print(acc)

0.931034505367279

In [75]:
model.save('model_weights.h5')

In [77]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_1 (Embedding)     (None, 61, 32)            916736

 lstm_1 (LSTM)               (None, 64)                24832

 dense_1 (Dense)             (None, 1)                 65

=================================================================
Total params: 941,633
Trainable params: 941,633
Non-trainable params: 0
_________________________________________________________________